<div class="mx-auto footer-component">
    <div class="footer-card">
        <h4>Quer elevar seu software e seus<br/> negócios para outro nível?</h4>
        <btn-primary btn-text="Fale com nossos especialistas"></btn-primary>
    </div>
    <div class="footer-logos">
        <div class="logo-emp">
            <img ngSrc="logo-group.png" alt="Logo-empresa" width="165" height="55">
        </div>
        <div class="logo-social">
            <img ngSrc="insta-svg.svg" alt="Logo-Instagram" width="50" height="50">
            <img ngSrc="facebook-svg.svg" alt="Logo-Facebook" width="50" height="50">
        </div>
    </div>
</div>