<app-header></app-header>
<main>
    <section class="main-section pad-70 mx-auto">
        <div class="headline">
            <span>KIPPER CONSULTORIA</span>
            <h1>A consultoria que você busca para seu software</h1>
        </div>
        <img ngSrc="principal.png" alt="Principal Image" width="670" height="535" priority/>
    </section>
    <section class="benefit-section pad-70 mx-auto">
        <div class="benefit-data">
            <h2>
                95% das<br/>
                empresas
            </h2>
        </div>
        <p>não sabem como lidar com problemas de <b>escalabilidade</b> e grande volume de requisições.</p>
    </section>
    <section class="cta-section">
        <btn-primary btn-text="Fale com nossos especialistas"></btn-primary>
    </section>
    <section>
        <newsletter-form></newsletter-form>
    </section>
    <section>
        <feature-cards></feature-cards>
    </section>
    <footer-component></footer-component>
</main>