
<div class="mx-auto feature-component">
    <div class="feature-card">
        <img ngSrc="team-one.png" alt="team-image" width="609" height="588">
        <h4>Equipe capacitada</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit. Ut et massa mi. Aliquam in 
            hendrerit urna. Pellentesque sit amet sapien 
            fringilla, mattis ligula consectetur.
        </p>
    </div>
    <div class="feature-card">
        <img ngSrc="team-two.png" alt="team-image" width="609" height="588">
        <h4>Seus projetos guiados do zero</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit. Ut et massa mi. Aliquam in 
            hendrerit urna. Pellentesque sit amet sapien 
            fringilla, mattis ligula consectetur.
        </p>
</div>